section {
    height: 100px;
    background-color: aqua;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    border: 2px solid red;
}

span {
    background-color: blueviolet;
    color: white;
    border: 1px solid red;
}

.inline-element{
    display: inline;
}

.inline-block-element {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.hidden-element {
    display: none;
}