nav { background: #1a1a2e;}

nav ul{ list-style: georgian; padding: 0 24px;}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 16 18;
    color: #aaa;
    text-decoration: dashed;
}

nav ul li a:hover{
    background: #0066cc;
    color: white;
}

nav ul li a.active{
    color: white;
    border-bottom: 3px solid #4fc3f7;
}
