.row div.column {
    float: left;
    width: 45%;
    height: 50px;
    background-color: orange;
    border: 1px solid black;
}

.row3 div.column {
    float: left;
    width: 30%;
    height: 50px;
    background-color: orange;
    border: 1px solid black;
}